#footer {
  .footer-logo {
    text-align: center;
    margin: 2.5rem 0 1rem 0;
    svg {
      width: 25%;
      height: auto;
    }
  }
  .year {
    font-size: 1rem;
    text-align: center;
  }

  .social {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -1.2rem;
    .fab {
      margin-left: 0.8rem;
    }
  }
}
