#header {
  #main-nav {
    .logo-li {
      position: relative;
      // text-align: center;
      align-self: center;
      display: inline-block;
      width: 30%;
      height: auto;
    }
    svg {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
      #Caminho_1 {
        fill: #e52522;
      }
      #Caminho_2 {
        fill: #f2e500;
      }
      #Caminho_3 {
        fill: #5da59d;
      }
      #Caminho_4 {
        fill: #da97c2;
      }
      #Caminho_5 {
        fill: #5aa69a;
      }
      #Caminho_6 {
        fill: #f2e500;
      }
      #Caminho_7 {
        fill: #ed6a1a;
      }
      #Caminho_8 {
        fill: #5bb030;
      }
      #Caminho_9 {
        fill: #e5251f;
      }
      #Caminho_10 {
        fill: #f2e500;
      }
      &:hover {
        #Caminho_1 {
          fill: #000;
        }
        #Caminho_2 {
          fill: #000;
        }
        #Caminho_3 {
          fill: #000;
        }
        #Caminho_4 {
          fill: #000;
        }
        #Caminho_5 {
          fill: #000;
        }
        #Caminho_6 {
          fill: #000;
        }
        #Caminho_7 {
          fill: #000;
        }
        #Caminho_8 {
          fill: #000;
        }
        #Caminho_9 {
          fill: #000;
        }
        #Caminho_10 {
          fill: #000;
        }
      }
    }

    .list-item {
    }

    ul {
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
    }
  }
}
