#header {
  #main-nav {
    .logo {
      font-family: "BlennyW01-Black", sans-serif;
      font-size: 2.4rem;
      line-height: 1.1;
    }
    ul {
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      vertical-align: text-bottom;
    }
  }
}
