@import "config";
@import "navbar";
@import "utilities";
@import "content";
@import "footer";
@import "shop";
@import "collection";

@font-face {
  font-family: "blennyw01-blackregular";
  src: url("https://modest-hoover-3d19b4.netlify.app/dist/css/fonts/blenny_w01_black-webfont.woff2")
      format("woff2"),
    url("https://modest-hoover-3d19b4.netlify.app/dist/css/fonts/blenny_w01_black-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: $dark-color;
  &:visited {
    color: $dark-color;
  }
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
